

* {
    margin: 10px;
    padding:0;
  }

body {
    background-color: white;
    box-sizing: border-box;
    border:2px solid;
    width: 1163px;
    align-self: center;
  }

/* BACKGROUND IMAGE *//* BACKGROUND IMAGE *//* BACKGROUND IMAGE *//* BACKGROUND IMAGE */

.home-image img {
    width:1130px;
    height:350px;
    border-radius: 5px;
    margin-left:4px;

 
} 
.content1 {
    text-align: center;
    margin: -190px 0 0 0;
}


.content1 a {
    margin: 56px;
    color: black;
    text-decoration: none;
    background-color: #E6E6E6;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    font-family:'Source Sans Pro', sans-serif;
}

/* ABOUT TRAINING *//* ABOUT TRAINING *//* ABOUT TRAINING *//* ABOUT TRAINING *//* ABOUT TRAINING */


.about-training {
  margin: 100px 50px 0 0px;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  border-radius: 11px;
}
.train-img img {
    padding: 30px 7px 30px 7px;
    border-radius: 50px;

}
.train-content {
    padding: 7px;
    text-align: center;
    width: 450px;
}
.train-content h1  {
    font-family: 'Cutive', serif;
    color: #532e1c;

}

.train-content p{
    font-family: 'Barlow Condensed', sans-serif;
    margin: 3px;
}
.train-content a{
    color: black;
    background-color: #E6E6E6;
    text-decoration: none;
    border: 2px solid;
    border-radius: 5px;
    padding: 8px;
}



h2{
    font-family: 'Cutive', serif;
    font-weight: 900;
    padding: 10px;
    text-align: center;
    margin: 32px 0 0 0;
    color: #532e1c;
}

h1 {
    color: #532e1c;
    font-family: 'Cutive', serif;
    text-align: center;
    margin: 42px 0 0 0;
}
/* WHAT YOU WILL LEARN  *//* WHAT YOU WILL LEARN  *//* WHAT YOU WILL LEARN  *//* WHAT YOU WILL LEARN  */

.listed-learn {
    align-items: center;
    background-color: #E6E6E6;
    border-radius: 5px;
    display: flex;
    height: 120px;
    justify-content: space-around;
    margin: 55px 20px;
}
ul {
    list-style-type: "\2714"
} 

/* FACILITATORS *//* FACILITATORS *//* FACILITATORS *//* FACILITATORS *//* FACILITATORS */

.parent,.parent2,.parent3,.parent4 {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap:nowrap;
}

.parent img,.parent2 img,.parent3 img,.parent4 img {
    width: 200px;
    height: 250px;
    border-radius: 7px;
  }


/* FACILITATORS 1 INFO *//* FACILITATORS 1 INFO *//* FACILITATORS 1 INFO *//* FACILITATORS  1 INFO */

.name1{
    width: 900px;
    margin: 0 200px 0 0;

}
.name1 h4{
    font-family: 'Barlow Condensed', sans-serif;;
    position: relative;
    right:30px;
    top: -19px;
}


.name1 p{
    position: relative;
    top: -10px;
}

    .empty1{
        width: 300px;
        /* background-color: #532e1c; */

    }


/* FACILITATORS 2 INFO *//* FACILITATORS 2 INFO *//* FACILITATORS 2 INFO *//* FACILITATORS  2 INFO */

.two{
    order:4;
}

.name2{
    width: 900px;
    margin: 0 200px 0 0;
    order: 2;

}
.name2 h4{
    font-family: 'Barlow Condensed', sans-serif;;
    position: relative;
    left:610px;
    top: 0px;
}

.name2 p{
    margin-top: 30px;
    position: relative;
    left:200px;
}
    .empty2{
        order: 1;
        width: 300px;
        background-color: #532e1c;
}
.rule2{
    order:3;
    position:relative;
    right:15px;
}

/* FACILITATORS 3 INFO *//* FACILITATORS 3 INFO *//* FACILITATORS 3 INFO *//* FACILITATORS  3 INFO */


.name3 {
    width: 900px;
    margin: 0 200px 0 0;

}
.name3 h4{
    font-family: 'Barlow Condensed', sans-serif;;
    position: relative;
    right:30px;
    top: -19px;
} 
.name3 p{
    position: relative;
    top: -10px;
}

    .empty3{
        width: 300px;
        background-color: #532e1c;

    }
/* FACILITATORS 4 INFO *//* FACILITATORS 4 INFO *//* FACILITATORS 4 INFO *//* FACILITATORS  4 INFO */

.four{
    order: 4;
}
.name4{
    width: 900px;
    margin: 0 200px 0 0;
    order: 2;

}
.name4 h4 {
    font-family: 'Barlow Condensed', sans-serif;;
    position: relative;
    left:610px;
    top: 0px;
}

    .name4 p{
        margin-top: 30px;
        position: relative;
        left:200px;
    }

    .empty4{
        order: 1;
        width: 300px;
        background-color: #532e1c;

    }
    .rule4{
        order:3;
        position:relative;
    right:15px;
    }
/* BREAKS*//* BREAKS*//* BREAKS*//* BREAKS*//* BREAKS*//* BREAKS*/

hr{
    /* position: absolute; */
    margin: 6px 0 0 29px;
    border-style: none;
    border-left-style: solid;
    border: 1px solid pink;
    height: 130px; 

}



/* <!-- FOOTER  --> */ /* <!-- FOOTER  --> * /* <!-- FOOTER  --> *//* <!-- FOOTER  --> */
.footer {
    background-color:  #E6E6E6;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
} 