body {
  background-color: white;
  box-sizing: border-box;
  border:2px solid;
  margin: 10px 10px 10px 10px;
  
}

.home-image img {
    width:100%;
    opacity: 0.9px;
 
}
.content1 {
    text-align: center;
    margin: -190px 0 0 0;

}


.content1 a {
    margin: 56px;
    color: black;
    text-decoration: none;
    background-color: #E6E6E6;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    font-family:'Source Sans Pro', sans-serif;
}

.about-training {
  margin: 100px 50px 0 0px;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  border-radius: 11px;
}
.train-img img {
    padding: 30px 7px 30px 7px;
    border-radius: 50px;

}
.train-content {
    padding: 10px;
    text-align: center;
}
.train-content h1  {
    font-family: 'Cutive', serif;
    color: #532e1c;

}

.train-content p{
    font-family: 'Barlow Condensed', sans-serif;
    margin: 3px;
}
.train-content a{
    color: black;
    background-color: #E6E6E6;
    text-decoration: none;
    border: 2px solid;
    border-radius: 5px;
    padding: 8px;
}



h2{
    font-family: 'Cutive', serif;
    font-weight: 900;
    padding: 10px;
    text-align: center;
    margin: 32px 0 0 0;
    color: #532e1c;
}

h1 {
    color: #532e1c;
    font-family: 'Cutive', serif;
    text-align: center;
    margin: 42px 0 0 0;
}

.parent {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  align-content: center; */
  /* background-color: grey; */
  /* width: 900px; */
  margin: 80px;
}
.parent img {
    width: 230px;
    height: 250px;
    border-radius: 7px;
  }

.one {
border-radius: 5px;
display: flex;
flex-direction: row;
/* background-color:#E6E6E6; */
height: 200px;
align-content: center;
justify-content: center;

}
.two {
    border-radius: 5px;
display: flex;
flex-direction: row-reverse;
/* background-color:#E6E6E6; */
height: 200px;
align-content: center;
justify-content: center;
}
.three {
    border-radius: 5px;
    display: flex;
  /* background-color: #E6E6E6; */
  height: 200px;
  align-content: center;
justify-content: center;
}
.four {
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
  /* background-color: #E6E6E6; */
  height: 200px;
  align-content: center;
justify-content: center;
}



.one h4{
    font-family: 'Barlow Condensed', sans-serif;;
    position: absolute;
    width: 213px;
    margin-right: 250px;


}
.two h4{
    position: absolute;
    font-family: 'Barlow Condensed', sans-serif;;
    width: 213px;
    margin-left: 450px;


} .three h4{
    font-family: 'Barlow Condensed', sans-serif;;
    position: absolute;
    width: 213px;
    margin-right: 250px;


} 
.four h4 {
    font-family: 'Barlow Condensed', sans-serif;;
    position: absolute;
    width: 213px;
    margin-left: 450px;;

}


hr {
    position: absolute;
    margin: 6px 0 0 29px;
    border-style: none;
    border-left-style: solid;
    border: 1px solid grey;
    height: 130px;

}

.one hr{
    margin: 50px 450px 0 0;
}

.two hr{
    margin: 50px 0 0 450px;
}
.three hr{
    margin: 50px 450px 0 0;
}
.four hr{
    margin: 50px 0 0 450px;

}

.one, .two, .three, .four, p {
    font-family: 'Barlow Condensed', sans-serif;
    margin: 70px 0 0 30px;
    font-size: 15px;
    padding: 10px;
}
.one p{

}
.two p {

}
.three p{

}
.four p{

}




/* <!-- PRACTICE TWO GOES IN HERE  --> */

.listed-learn {
    align-items: center;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    height: 120px;
    margin: 55px 0;
}
ul {
    list-style-type: "\2714"
}
.footer {
    background-color:  #E6E6E6;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}